modules = ["kotlin", "java-17", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android App Build"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "android"

[[workflows.workflow]]
name = "Android App Build"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew --no-daemon --max-workers 2 -Dorg.gradle.jvmargs=\"-Xmx1024m -XX:MaxPermSize=512m -XX:+HeapDumpOnOutOfMemoryError\" assembleDebug"

[[workflows.workflow]]
name = "android"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew --no-daemon --max-workers 2 -Dorg.gradle.jvmargs=\"-Xmx512m -XX:MaxPermSize=256m -XX:+HeapDumpOnOutOfMemoryError\" installDebug && adb shell am start -n com.example.drowsinessdetection/.MainActivity"

[deployment]
run = ["sh", "-c", "./gradlew --no-daemon --max-workers 2 -Dorg.gradle.jvmargs=\"-Xmx1024m -XX:MaxPermSize=512m -XX:+HeapDumpOnOutOfMemoryError\" assembleDebug"]
